.middleText{
     position: relative;
     background-color: rgba(40, 50, 30, 0.5);
     height: 300px;
     width: 40%;
     right: -30%;
     margin-top: 250px;
     /* left: 50px;  */
     /* position: fixed; */
}