.dropButton {
     background-color: rgb(252, 252, 252);
     color: rgb(168, 168, 168);
     padding: 10px;
     font-size: 16px;
     border: none;
   }
   
   .dropContainer {
     position: relative;
     display: inline-block;
   }
   
   .dropDown {
     display: none;
     position: absolute;
     background-color: #ffffff;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
   }
   
   .dropDown a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
   }
   
   .dropDown a:hover {background-color: #ddd;}
   
   .dropContainer:hover .dropDown {display: block;}
   
   .dropContainer:hover .dropButton {background-color: #d8d8d8;}